@import "../styles.scss";

body {
  font-family: "Roboto", sans-serif;
}
.name,
.description {
  color: $white;
}
.position {
  color: $light_green;
}
.content {
  height: 100%;
  width: 100%;
}
.social {
  fill: red;
}
