<div class="lg:grid lg:grid-cols-6">
  <header class="lg:hidden sticky top-0 z-20 bg-slate-900/75 backdrop-blur-sm">
    <div class="px-6 py-3">
      <menu-component [menuOptions]="menuOptions"></menu-component>
    </div>
  </header>
  <!-- Left Section -->
  <div class="left-div lg:col-span-3 px-6 py-12 lg:sticky lg:top-0 lg:h-screen">
    <div class="lg:hidden grid grid-cols-1 place-items-center mb-8">
      <img
        src="/assets/images/axel_sanchez.jpeg"
        class="profile-img w-48 h-48 md:w-60 md:h-60 p-1 rounded-full ring-4"
      />
    </div>
    <div class="lg:h-full grid grid-rows-4 grid-cols-1">
      <div class="intro row-span-2 flex flex-col justify-center">
        <h2 class="name text-5xl md:text-7xl lg:text-8xl font-black">
          Axel <br />Sanchez
        </h2>
        <h2 class="position mb-3 mt-3">Software Engineer at Upland Altify</h2>
        <p class="description" id="description">
          Passionate engineer developing applications, encouraging teamwork,
          empowering others, and continuously learning.
        </p>
      </div>
      <div
        class="hidden lg:grid place-items-start items-center row-span-1 mt-6 mb-6"
      >
        <menu-component [menuOptions]="menuOptions"></menu-component>
      </div>
      <div class="grid place-items-start items-center row-span-1 pt-4">
        <div
          class="social-network grid-rows-1 grid-cols-1 place-items-start inline-flex"
        >
          <img
            ngSrc="\assets\images\github.svg"
            class="social first-of-type:mr-3"
            height="40"
            width="40"
          />
          <img
            ngSrc="\assets\images\linkedIn.svg"
            class="social"
            height="40"
            width="40"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- Right section -->
  <div
    class="right-div p-6 md:p-9 lg:py-12 lg:col-start-4 lg:col-end-7 lg:overflow-y-auto"
  >
    <div class="hidden lg:grid grid-cols-1 place-items-center mb-8">
      <img
        src="/assets/images/axel_sanchez.jpeg"
        class="profile-img w-48 h-48 md:w-60 md:h-60 p-1 rounded-full ring-4"
      />
    </div>
    <div id="about" class="scroll-mt-24">
      <h3 class="text-lg font-bold uppercase text-white mb-4 tracking-widest">
        About
      </h3>
      <p class="text-description">
        My passion is to
        <span class="light-green-text">develop applications</span> for companies
        that need automated processes to save money and time. I enjoy working in
        a team with different people and cultures and exchanging knowledge.
        <br />
        I thrive when I get a chance to
        <span class="light-green-text">help and motivate others</span>. As a
        Team Lead, I enjoy training new hires and teaching them new skills that
        will help them advance personally and professionally. I am always
        striving to improve my skills and to learn new technologies.
      </p>
    </div>
    <div id="skills" class="mt-12">
      <h3 class="text-lg font-bold uppercase text-white mb-4 tracking-widest">
        Skills
      </h3>
      <skill-component [skillList]="hardSkills"></skill-component>
    </div>
    <div id="experience" class="mt-12 scroll-mt-24">
      <h3 class="text-lg font-bold uppercase text-white mb-4 tracking-widest">
        Experience
      </h3>
      @for (exp of experience; track $index) {
      <experience-component
        [time]="exp.time"
        [title]="exp.title"
        [description]="exp.description"
        [skills]="exp.skills"
      ></experience-component>
      }
    </div>
    <div id="education" class="mt-12 scroll-mt-24">
      <h3 class="text-lg font-bold uppercase text-white mb-4 tracking-widest">
        Education
      </h3>
      @for (edu of education; track $index) {
      <experience-component
        [time]="edu.time"
        [title]="edu.title"
        [description]="edu.description"
        [skills]="edu.skills"
      ></experience-component>
      }
    </div>
    <div id="certifications" class="mt-12 scroll-mt-24">
      <h3 class="text-lg font-bold uppercase text-white mb-4 tracking-widest">
        Certifications
      </h3>
      @for (certification of certifications; track $index) {
      <experience-component
        [time]="certification.time"
        [title]="certification.title"
        [description]="certification.description"
        [skills]="certification.skills"
      ></experience-component>
      }
    </div>
  </div>
</div>
