/* You can add global styles to this file, and also import other style files */
/*Colors Variables*/
$dark_green: #1b342f;
$black: #000000;
$dark_grey: #1e1e1e;
$white: #ffffff;
$light_green: rgb(0, 255, 196);
$light_gray: #b3b3b3;
$blue: #0000ee;
$dark_purple: #551a8b;
@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
app-root {
  background-color: $dark_grey;
  font-family: "Roboto", sans-serif !important;
  height: 100%;
  display: block;
}
